/*
First run "npm run sass" to compile the scss to css.
Changes from this file will be then applied
*/

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Monoton&display=swap');

$primary-color: rgb(77, 160, 79);
$primary-color-trans: rgba(77, 160, 78, 0.601);
$secondary-color: #95D5B2;
$secondary-color-trans: #95d5b28d;
$button-color: rgba(34, 62, 35, 0.718);

body {
  margin: 0;
  padding: 0;
}

.title-content-wrapper{
    background: linear-gradient(to top, $primary-color-trans, $secondary-color-trans), url("/src/saimaan-kultaranta-cottages-1440p.jpg") no-repeat bottom center;
    background-size:cover;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;

    .contact-container {
        position: absolute;
        left: 8%;
        display: flex;
        flex-direction: row;
        background-color: $button-color;
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        margin: 30px 10px 10px 10px;
        padding: 0;

        i{
            color: white;
            font-size: 20px;
            margin: 11px;
        }

        p {
            color: white;
            font-size: 20px;
            margin: 10px 15px 10px 0px;
        }
    }

    .flag-container {
        //background-color: red;
        position: absolute;
        right: 10%;

        a {
            text-decoration: none;

            .flag {
                height: 40px;
                width: 40px;
                margin: 30px 10px 10px 10px;

                border-radius: 20px;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
                
            }
        }
    }

    .title-container {
        //background-color: blue;
        margin: 5%;
        width: 60%;
        justify-content: center;
        position: relative;
        display: flex;
        flex-direction: column;


        .logo {
            //background-color: red;
            justify-content: center;
            text-align: center;
            
            img {
                width: 200px;
                height: 200px;
            }
        }

        .title {
            margin: 0;
            font-family: 'Luxurious Roman', cursive;
            font-family: 'Monoton', cursive;
            color: white;
            font-size: 85px;
            text-align: center;
            //white-space: pre-wrap;
            text-shadow: 1px 1px 2px rgb(0, 0, 0);
        }

        .button-book-now {
            margin-top: 100px;
        }
    }
}

.button-book-now {
    background-color: $button-color;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: ease-in-out 0.2s;

    &:hover {
        background-color: $primary-color;
    }
}

.wide-divider {
    background-color: $secondary-color;
    width: 100%;
    height: 5px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.main-content-wrapper {
    background-color: $secondary-color;
    background-image: url("/src/background-pattern-new.png");
    background-size: 100%;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0;

    .divider-background {
        background-color: $primary-color;
        height: 100px;
        width: 60%;
        margin: 50px 0px 50px 0px;
    }

    .divider {
        background-color: $secondary-color;
        width: 50%;
        height: 5px;
        border-radius: 20px;
        position: relative;
        top: 50%;
        left: 25%;
    }

    .cottage-title {
        font-family: 'Luxurious Roman', cursive;
        font-family: 'Monoton', cursive;
        font-size: 45px;
        color: white;
        margin: 30px 0px 0px 0px;
        padding: 0px 0px 50px 0px;
        background-color: $primary-color;
        width: 60%;
        text-align: center;
    }

    .text-content-item {
        background-color: $primary-color;
        margin-top: 50px;
        width: 60%;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 10px 30px 30px 30px;

        p {
            font-family: 'Luxurious Roman', cursive;
            font-family: 'Monoton', cursive;
            font-size: 45px;
            color: white;
            margin: 0px 0px 20px 0px;
            padding: 0;
        }

        .inner-content {
            width: 60%;
            text-align: left;
            margin-top: 20px;
            font-size: 20px;
            color: rgb(255, 255, 255);
            line-height: 1.5;
        }
    }

    .content-item {
        padding: 10px 30px 30px 30px;
        margin: 0px 50px 90px 50px;
        width: 60%;
        text-align: left;
        vertical-align: middle;
        display: flex;
        justify-content: space-between;
        background-color: $primary-color;

        .text-content {
            width: 51%;

            .p-title{
                font-family: 'Luxurious Roman', cursive;
                font-family: 'Monoton', cursive;
                font-size: 42px;
                line-height: 1.5;
                color: white;
            }
            
            .p-body{
                font-size: 20px;
                line-height: 1.5;
                color: white;
            }
        }

        .content-picture {
            //background-color: yellow;
            width: 40%;
            height: 500px;
            overflow: hidden;
            padding: 0;

            .paragraph-picture-vertical {
                object-fit: cover;
                object-position: 0 65%;
                width: 100%;
                height: 100%;
                border-radius: 3%;
            }

            .paragraph-picture-horizontal {
                object-fit: cover;
                object-position: 85% 0;
                width: 100%;
                height: 100%;
                border-radius: 3%;
            }
        }
    }
}

.interactive-item {
    background-color: $primary-color;
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 50px 0px;
    
    .text-content{
        width: 60%;
        
        .p-title{
            font-family: 'Luxurious Roman', cursive;
            font-family: 'Monoton', cursive;
            font-size: 42px;
            line-height: 1.5;
            color: white;
        }
    }
    .button-container {
        width: 300px;
        height: 35px;
    }
    
}

.footer {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    
    .icons {
        text-align: center;

        a i {
            color: black;
            font-size: 35px;
            margin: 10px;

            transition: ease-in-out 0.2s;

            &:hover {
                color: $secondary-color;
            }
        }

        .booking {
            height: 25px;
            color:black
        }
    }

    p{
        text-align: center;
    }
}
