/*
First run "npm run sass" to compile the scss to css.
Changes from this file will be then applied
*/

$primary-color: rgb(77, 160, 79);
$secondary-color: rgb(144, 199, 145);

body {
  margin: 0;
  padding: 0;
}

.title-content-wrapper{
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    width: auto;
    height: 100vh;
    margin: 0;

    .title-container {
        
        background-color: blue;
        margin: 50px;
        width: 50%;
        text-align: center;
        vertical-align: middle;
        line-height: 200px;

        .title {
            color: white;
            background-color: red;
            font-size: 50px;
            font-weight: bold;
            text-align: center;
        }
    }
}

.main-content-wrapper {
    background-color: $secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0;

    .content-item {
        background-color: blue;
        margin: 50px;
        width: 50%;
        text-align: center;
        vertical-align: middle;
        line-height: 200px;
    }

}
